<?xml version="1.0" encoding="UTF-8" ?>

<!-- 约束文件 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 环境的配置，其实就是去配置数据库连接-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://mysql.aixudebug.top:3306/db_wangdao_homework"/>
                <property name="username" value="aixu"/>
                <property name="password" value="ax123456AX"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="top.aixudebug.stumaven.mapper/UserMapper.xml"/>
    </mappers>
</configuration>